:root {
    --black: black;
    --white: white;
}
  
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: 1.3;
}

header{
position: fixed;
display: flex;
flex-wrap: wrap;
z-index: 1;
top: 0px;
left: 0px;
width: 100%;
padding: 1%;
justify-content: space-between;
align-items: center;
background-color: var(--black);
color: var(--white);
}

h1 {
    font-size: 200%;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}


.background-image {
    height: 100vh;
    background: url(../images/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.background-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    color: var(--white);
}

.background-title {
    font-size: 100px;
}

.background-subtitle {
    font-size: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    margin-top: auto;
}

.section {
    width: 95%;
    min-height: 100px;
    max-height: fit-content;
    margin-top: 80px;
    border: 3px solid var(--black);
    background-color: var(--white);
}

#title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    top: -40px;
    width: 95%;
    margin-left: 3%;
    border-style: solid;
    border-color: var(--black);
    padding: 5px;
    border-radius: 10px;
    font-size: 200%;
    font-weight: bolder;
    color: var(--black);
    background-color: var(--white);
}

.box {
    color:var(--black);
    margin-top: 20px;
}

.justify {
    margin: 0;
    text-align: justify;
    padding: 10px;
    white-space: pre-wrap;
}

.float-left{
    float:left;
    margin: 0 25px 25px 25px;
    max-width: 25%;
}
footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 1%;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
}