:root {
    --black: black;
    --white: white;
}

*{
    box-sizing: border-box;
}


body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: 1.3;
}

header{
position: fixed;
display: flex;
flex-wrap: wrap;
z-index: 1;
top: 0px;
left: 0px;
width: 100%;
padding: 1%;
justify-content: space-between;
align-items: center;
background-color: var(--black);
color: var(--white);
}

h1 {
    font-size: 200%;
}
.navbar ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

nav a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}


.background-image {
    height: 100vh;
    background: url(../images/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

.background-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    color: var(--white);
}

.background-title {
    font-size: 100px;
}

.background-subtitle {
    font-size: 35px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 20px auto;
    border-style: solid;
    border-width: 2px;
}

.section {
    min-height: 100px;
    max-height: fit-content;
    margin-top: 80px;
    background-color: var(--white);
}

#title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    top: -40px;
    width: 95%;
    margin-left: 3%;
    border-style: solid;
    border-color: var(--black);
    padding: 5px;
    border-radius: 10px;
    font-size: 200%;
    font-weight: bolder;
    color: var(--black);
    background-color: var(--white);
}


.card {
    box-sizing: border-box;
    flex: 1;
    padding: 10px;
    text-align: center;
    border-style: solid;
    border-width: 1px;
    max-width: 50%;
    background-color: var(--black);
}

.card header {
    position:relative;
    justify-content: center;
    z-index: 0;
    padding: 20px;
    background-color: rgb(0, 0, 87);
    color: var(--white);
}

.card img {
    width: 100%;
}

img{
    max-width: 100%;
}

.justify {
    margin: 0;
    text-align: justify;
    padding: 10px;
    white-space: pre-wrap;
}


.float-left{
    float:left;
    margin: 0 25px 25px 25px;
    max-width: 20%;
    max-height: 20%;
}
.float-left1 {
    float:left;
    margin: 0 25px 25px 25px;
    max-width: 100%;
}

footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 1%;
}

@media screen and (min-width: 768px) {

}

@media screen and (min-width: 992px) {
}