/*resuable color variables for the page*/
:root {
    --black: black;
    --white: white;
}
 
/*(universal) sets box sizing for all elements*/
*{
    box-sizing: border-box;
}

/*(element) sets the body to flex into a column whne size is reduced, sets font to sans-serif
and sets line height to 1.3*/ 
body {
    display: flex;
    flex-direction: column;
    font-family: sans-serif;
    line-height: 1.3;
}

/*(element) sets header to fixed position so it'll float, places space between elements inside,
makes sure it floats over all items on the page when you scroll down, sets position, makes the 
header wrap when the page is reduced in size and sets color and background color of header*/
header{
position: fixed;
display: flex;
flex-wrap: wrap;
z-index: 1;
top: 0px;
left: 0px;
width: 100%;
padding: 1%;
justify-content: space-between;
align-items: center;
background-color: var(--black);
color: var(--white);
}

/*(element) sets font size of h1*/
h1 {
    font-size: 200%;
}

/*(class) sets the styling for nav bar elements*/
.navbar ul {
    display: flex;
    justify-content: space-between;
    min-width: 300px;
}

/*(class) sets the styling for nav bar text*/
nav a {
    color: var(--white);
    font-weight: bold;
    text-decoration: none;
}

/*(class) sets styling for background image*/
.background-image {
    height: 100vh;
    background: url(../images/Banner.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    position: relative;
}

/*(class) sets styling for text on top of background image*/
.background-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--black);
    color: var(--white);
}

/*(class) sets font size for the title of the text in the backgroun image*/
.background-title {
    font-size: 100px;
}

/*(class) sets the size for the subtitle text*/
.background-subtitle {
    font-size: 35px;
}

/*(class) sets up a box for the rest of the webpage and sets the styling for it*/
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 99%;
    margin: 20px auto;
    border-style: solid;
    border-width: 2px;
}

/*(class) sets the styling for indivdual sections within the container*/
.section {
    min-height: 100px;
    max-height: fit-content;
    margin-top: 120px;
    margin-bottom: 40px;
    margin-left: 10px;
    margin-right: 10px;
    background-color: var(--white);
}

/*(class) sets the rules for stlying the header text of each section within container*/
.title {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 0;
    top: -40px;
    width: 95%;
    margin-left: 3%;
    border-style: solid;
    border-color: var(--black);
    padding: 5px;
    border-radius: 10px;
    font-size: 200%;
    font-weight: bolder;
    color: var(--black);
    background-color: var(--white);
}

/*(class)within the work section, sets styling for each flexbox*/
.card {
    display: flex;
    flex-wrap: wrap;
    box-sizing: border-box;
    flex: 1;
    text-align: center;
    max-width: 50%;
   
}

/*(class) sets the rules for the header section of each flexbox*/
.card header {
    position:relative;
    justify-content: center;
    z-index: 0;
    padding: 20px;
    background-color: rgb(0, 0, 87);
    color: var(--white);
}

/*(class)sets the width of the images within the flexbox to 100% of their container*/
.card img {
    width: 100%;
}

/*(element) sets the max width of an image to 100% of its container*/
img{
    max-width: 100%;
}

/*(class) sets up a class which will remove margins, justify text, place a 10px padding around
text and will preserve whitespace when neccesary. Text will also wrap when neccesary and on 
line-breaks*/
.justify {
    margin: 0;
    text-align: justify;
    padding: 10px;
    white-space: pre-wrap;
}

/*(class) sets a class to float elements to the left and sets their margins, height and width
this was used for stlying the positoning of the containters within the work section*/
.float-left{
    float:left;
    margin: 0 25px 25px 25px;
    max-width: 20%;
    max-height: 20%;
}

/*(class) class set up to position of the first work to be larger than the rest*/
.float-left1 {
    float:left;
    margin: 0 25px 25px 100px;
    max-width: 100%;
}

/*class for the last image since it was longer than the other ones and needed unique styling*/
.float-left2{
    float:left;
    margin: 0 25px 25px 25px;
    max-width: 20%;
}

/*(ID) within the contact section they set the styling for text in the unordered list to none*/
#contact a {
    text-decoration: none;
}

/*(element) sets the styling for the footer*/
footer {
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--black);
    color: var(--white);
    padding: 1%;
}

/* Changes section margins for the main section within the body when screen is sized to anything less than 1024px in width*/
@media screen and (max-width: 1024px) {
    .section {
        margin-left: 5px;
        margin-right: 5px;
    }
}

/*changes the size of text for the background image title, subtitle, and container margins in work section when the screen is sized to anything less than 768px in width */
@media screen and (max-width: 768px) {
    .background-title {
        font-size: 50px;
    }
    
    .background-subtitle {
        font-size: 17px;
    }
    .float-left1 {
        margin: 0 25px 25px 25px;
    }
    .float-left {
        margin: 0 20px 25px 20px;
    }
    .float-left2 {
        margin: 0 0px 25px 10px;
    }
}

/*changes the size of a specific container margin in work section when the screen is sized to anything less than 425px in width */
@media screen and (max-width: 425px) {
    .float-left2 {
        margin: 0 0px 25px 20px;
    }
}

/* Changes section margins for the main section within the body when screen is sized to anything less than 425px in width. Also changes the size of a specific container margin in work section when the screen is sized to anything less than 425px in width */
@media screen and (max-width: 375px) {
    .section {
        margin-left: 0px;
        margin-right: 0px;
    }
    .float-left2 {
        margin: 0 0px 25px 0px;
    }
}